@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 47.4% 11.2%;
   
      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;
   
      --popover: 0 0% 100%;
      --popover-foreground: 222.2 47.4% 11.2%;
   
      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
   
      --card: 0 0% 100%;
      --card-foreground: 222.2 47.4% 11.2%;
   
      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;
   
      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;
   
      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;
   
      --destructive: 0 100% 50%;
      --destructive-foreground: 210 40% 98%;
   
      --ring: 215 20.2% 65.1%;
   
      --radius: 0.5rem;
    }
   
    .dark {
      --background: 224 71% 4%;
      --foreground: 213 31% 91%;
   
      --muted: 223 47% 11%;
      --muted-foreground: 215.4 16.3% 56.9%;
   
      --accent: 216 34% 17%;
      --accent-foreground: 210 40% 98%;
   
      --popover: 224 71% 4%;
      --popover-foreground: 215 20.2% 65.1%;
   
      --border: 216 34% 17%;
      --input: 216 34% 17%;
   
      --card: 224 71% 4%;
      --card-foreground: 213 31% 91%;
   
      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 1.2%;
   
      --secondary: 222.2 47.4% 11.2%;
      --secondary-foreground: 210 40% 98%;
   
      --destructive: 0 63% 31%;
      --destructive-foreground: 210 40% 98%;
   
      --ring: 216 34% 17%;
   
      --radius: 0.5rem;
    }
  }
   
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
      font-feature-settings: "rlig" 1, "calt" 1;
    }
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
  }

  .animateOutline {
    border: none;
    outline-width: 1px;
    outline-color: #e60079;
    outline-style: solid;
    animation: animateOutline 3s infinite;

    &:hover {
      animation: animateOutlineAlt 3s infinite;
    }
  }
  
  @keyframes animateOutline {
    0% {
      outline-width: 1px;
      outline-color: #e60079;
    }
  
    50% {
      outline-width: 7px;
      outline-color: transparent;
    }

    100% {
      outline-width: 1px;
      outline-color: transparent;
    }
  }

  @keyframes animateOutlineAlt {
    0% {
      outline-width: 1px;
      outline-color: #14b8a6;
    }
  
    50% {
      outline-width: 7px;
      outline-color: transparent;
    }

    100% {
      outline-width: 1px;
      outline-color: transparent;
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

  .animateOutline2 {
    @apply relative overflow-hidden h-[60px];
  }
  
  .animateOutline2 .inner {
    @apply absolute left-[3px] top-[3px] h-[calc(100%-6px)] w-[calc(100%-6px)] rounded-lg bg-gradient-to-r to-teal-500 bg-[length:300%];
  }

  
  .animateOutline2::before {
    background: conic-gradient(
      #f2f 0deg,
      #000 0deg,
      transparent 80deg
    );

    @apply absolute left-[-450%] top-[-450%] h-[1000%] w-[1000%] animate-border-spin content-[''] rounded-xl;
  }


  .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    @apply animate-pulse;
    box-shadow: 0 0 0 4px #e60079aa !important;
  }

  .rc-slider-mark-text {
    color: #777 !important;
    font-size: 14px !important;
  }

  .rc-slider-mark-text-active {
    color: #000 !important;
  }

  .rc-slider-mark {
    
    > span:first-of-type {
      margin-left: 7px;
    }

    > span:last-of-type {
      margin-right: 7px;
    }
  }