@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start:#105b5d;
  --background-end: #9a1c54;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(90deg,#105b5d 20%,#9a1c54 100%)
}

section[role="dialog"] button {
  color: #fff;
  border: 2px solid transparent;

  &:hover {
    background: transparent;
    border: 2px solid white;
  }

  svg {
    width: 30px;
    height: 30px;
  }
}